<div class="product-grid">
    @for (product of products; track product.id) {
    <div class="product-image">
            <img [src]="product.image" alt="Product Image" height="300" width="300">
        </div>
        <div class="product-info">
            <h2 class="product-title">{{ product.title }}</h2>
            <p class="product-description">{{ product.description }}</p>
            <p class="product-price">${{ product.price }}</p>
            <a href="#" class="product-button">Add to Cart</a>
        </div>
    }
</div>